<form action='@Url.Action("AgregarCandidato")'> 
    <h4>Nombre:</h4><input type="text" name="Nombre:"><br>
    <h4>Apellido:</h4><input type="text" name="Apellido"><br>
    <h4>Fecha de Nacimiento:</h4><input type="date" name="FechaNacimiento"><br>
    <h4>Foto:</h4><input type="text" name="Foto"><br>
    <h4>Postulacion:</h4><input type="text" name="Postulacion"><br>
    <input type="submit" value="Agregar Candidato">
</form>