@{
    ViewData["Title"] = "Index";
}

@foreach (var item in ViewBag.listaPartidos)
{
  <h2>@item.Nombre</h2>
  <a href='@Url.Action("VerDetallePartido", new{IdPartido = item.IdPartido})'><img src="@item.Logo"></a>
  <a href='@Url.Action("VerDetallePartido", new{IdPartido = item.IdPartido})'>Ver detalle del partido</a>

}


