@{
    ViewData["Title"] = "Index";
}

<h1>TP 06 - Home</h1>

<!-- <div tabindex="0" class="e-card" id="basic">
    <div class="e-card-header">
        <div class="e-card-header-caption">
            <div class="e-card-header-title">Partido C</div>
        </div>
    </div>
    <div class="e-card-content">
        Partido Comunista
    </div> -->

<div class="card">
  <img src="img/ComunistParty.jpg" alt="PartidoComunista">
  <div class="container">
    <h4><b>Partido Comunista</b></h4>
    <p>Por la caída del Estado</p>
  </div>
</div>

<div class="card">
  <img src="img/partidopis.jpg" alt="PartidoPIS">
  <div class="container">
    <h4><b>Partido PIS</b></h4>
    <p>Por el criterio y el surrealismo</p>
  </div>
</div>

<div class="card">
  <img src="img/Ucr_modern_logo.png" alt="UCR">
  <div class="container">
    <h4><b>Unión Cívica Radical</b></h4>
    <p>Por el radicalismo en contra de la oligarquía</p>
  </div>
</div>